{{#each blogs as |blog|}}
<div class="container blog">
    <div class="row">
        <h2>{{{blog.title}}}</h2>
    </div>
    <div class="row">
        <p>
            {{{blog.content}}}
        </p>
    </div>
    <div class="row buttons">
        <div class="">
            <a class="col-6 button" href="/dashboard/blog/{{{blog.id}}}">Update</a>
        </div>
        <div class="">
            <a class="col-6 button" id="delete" data-id="{{{blog.id}}}">Delete</a>
        </div>
    </div>
</div>
{{/each}}
<br><br><br>
<div class="container">
    <a class="button">Create new Blog</a>    
</div>
<script src="./js/dashboard"></script>