<form id="update-form">
    <label for="title">Title</label><br>
    <input type="text" id="title" name="title" value="{{{blog.title}}}">
    <br><br>
    <label for="content">Content</label><br>
    <textarea id="content" name="content">{{{blog.content}}}</textarea>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>