header, .blog:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

body{
  background-color: beige;
}


.title{
  text-align: center;
  font-size: 250%;
  font-weight: bolder;
  color:darkblue;
}

.content{
  padding: 10px;
}

.comments{
  margin:auto;
}

.brown{
  background-color: burlywood;
}

.navbar{
  margin-top: 1.5%;
  display: flex;
  justify-content: space-between;
  padding:1.5%;
}